<div mat-dialog-title>
<h1 style="cursor: pointer;">Employee Form</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onSubmit()">

<div  mat-dialog-content class="conent">
<div class="row">

  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput type="text" placeholder="Enter First Name" formControlName="fname">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" placeholder="Enter First Name" formControlName="lname">
  </mat-form-field>
</div>

<!-- ------------------------------------------------------------------ -->
<div class="row">

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Enter email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>DOB</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dob">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>


<!-- ------------------------------------------------------------------ -->

<div class="row">

  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-label>Gender</mat-label>
    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
    <mat-radio-button value="other">Female</mat-radio-button>
  </mat-radio-group>
</div>

<!-- ------------------------------------------------------------------- -->

<div class="row">


  <mat-form-field appearance="outline">
    <mat-label>Select Education</mat-label>
    <mat-select formControlName="education">
<mat-option *ngFor="let e of education" [value]="e">{{e}}</mat-option>
 </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Company Name</mat-label>
    <input matInput type="text" placeholder="Enter Company Name" formControlName="company">
  </mat-form-field>

</div>



<div class="row">

  <mat-form-field appearance="outline">
    <mat-label>Experience</mat-label>
    <input matInput type="number" placeholder="Enter Experience in years" formControlName="experience">
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Package</mat-label>
    <input matInput type="number" placeholder="Enter Package in LPA" formControlName="package">
    <mat-hint>in Rupees</mat-hint>
  </mat-form-field>


</div>

</div>


<div mat-dialog-actions class="action">
<button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
<button mat-raised-button color="primary" type="button" (click)="onSubmit()">{{data ?'Update':'Save'}}</button>
</div>
</form>
